[Unit]
Description=Check StarTrace main every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=60s
AccuracySec=1s
Unit=startrace-update.service

[Install]
WantedBy=timers.target
